# System plików
.DS_Store
Thumbs.db

# Foldery generowane przez UE5
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Pliki konfiguracyjne UE5
*.vsconfig
.vscode/
.idea/

# Pliki tymczasowe
*.log
*.log.*
*.bak

# Wyklucz katalogi specyficzne dla użytkownika
.vs/
.vscode/

# Ignoruj pliki tworzone przez Unreal Engine dla buildów
*.user
*.userprefs
*.autosave
*.suo
*.sdf
*.sln
*.vcxproj
*.vcxproj.filters
*.xcodeproj

# Pliki pakietów, które nie powinny być śledzone
*.pak
*.ubulk
*.uexp
*.utoc

# Pluginy UE5
!YourPluginFolderName/  # Zastąp "YourPluginFolderName" nazwą folderu pluginu, który chcesz śledzić
